Customer behavior survey results EDA.

This notebook is meant for fill NaN/null with zeroes.

In [ ]:
import pandas as pd
import numpy as np
import os

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
os.getcwd()

'/content'

In [ ]:
DATASET_DIR = "/content/drive/MyDrive/OneCareer/Project - G5/"   # Henry's directory

DATASET_FILE = "customer behavior survey results - Sheet1.csv"
DATASET_NAME = DATASET_DIR + DATASET_FILE

In [ ]:
df = pd.read_csv(DATASET_NAME)

In [ ]:
df.head(10)

,user_id,gender,age,ethnicity,sensitivity on price,sensitivity on calorie,sensitivity on seasonal food,hot or cold,current state,Favorite Dish,Caffeine,Cornstarch,Dairy,Gluten,Mango,Nuts,Peanuts,Soybean,Tapioca Starch,Egg
0,1,F,23,Asian,1,3,3,C,CT,C1,0,0,0,0,0.0,1.0,0.0,0.0,0.0,0.0
1,2,F,24,Asian,5,5,3,C,CT,A1,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,3,F,18,Asian,2,4,1,C,DC,A2,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,4,M,15,Asian,3,1,2,C,DC,D11,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
4,5,F,18,Asian,4,4,3,C,CT,C5,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
5,6,F,22,Hispanic,5,4,3,C,NY,I5,0,0,0,0,0.0,NaN,NaN,NaN,NaN,NaN
6,7,F,31,Asian,3,2,4,H,NY,C4,0,0,1,0,0.0,NaN,NaN,NaN,NaN,NaN
7,8,M,23,Asian,3,2,3,C,NY,A2,0,0,0,0,1.0,NaN,NaN,NaN,NaN,NaN
8,9,M,25,Asian,4,2,2,C,CA,A1,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
9,10,M,24,Asian,1,1,3,C,CA,A5,0,0,0,1,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# fill missing cell with zeroes
n_df = df.fillna(0)
n_df = n_df.replace(np.nan,0)
print("All jobs done!")

All jobs done!

In [ ]:
n_df.head(10)

,user_id,gender,age,ethnicity,sensitivity on price,sensitivity on calorie,sensitivity on seasonal food,hot or cold,current state,Favorite Dish,Caffeine,Cornstarch,Dairy,Gluten,Mango,Nuts,Peanuts,Soybean,Tapioca Starch,Egg
0,1,F,23,Asian,1,3,3,C,CT,C1,0,0,0,0,0.0,1.0,0.0,0.0,0.0,0.0
1,2,F,24,Asian,5,5,3,C,CT,A1,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,3,F,18,Asian,2,4,1,C,DC,A2,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,4,M,15,Asian,3,1,2,C,DC,D11,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
4,5,F,18,Asian,4,4,3,C,CT,C5,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
5,6,F,22,Hispanic,5,4,3,C,NY,I5,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
6,7,F,31,Asian,3,2,4,H,NY,C4,0,0,1,0,0.0,0.0,0.0,0.0,0.0,0.0
7,8,M,23,Asian,3,2,3,C,NY,A2,0,0,0,0,1.0,0.0,0.0,0.0,0.0,0.0
8,9,M,25,Asian,4,2,2,C,CA,A1,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
9,10,M,24,Asian,1,1,3,C,CA,A5,0,0,0,1,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
# export the data
n_df.to_csv("/content/drive/MyDrive/OneCareer/Project - G5/customer behavior survey results - Sheet2.csv")